body {
  color: orange;
 background-color: black;
}
.center {
  text-align: center;
}
.header {
  padding: 6px;
}
.menu {
  width: 15%;
  float: left;
  padding: 6px;
}
.main {
  width: 80%;
  height: 1000px;
  float: right;
  padding: 6px;
  font-size: 0.9vw;
  overflow: scroll;
}
  .btn {
    box-shadow: 0px 10px 23px -7px #276873;
    background:linear-gradient(to bottom, #092833 5%, #408c99 100%);
    background-color:#09465c;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Courier New;
    font-size:20px;
    font-weight:bold;
    padding:9px 51px;
    text-decoration:none;
    text-shadow:0px 1px 0px #133c4b;
    width: 100%;
  }
  .btn:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
  }
  .btn:active {
    position:relative;
    top:1px;
  }
  
          
